* {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  background-image: url('./images/bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  .App {
    height: 900px;
    width: 1800px;
    position: relative;
    top: 250px;
    margin: auto;
    .tooltip {
      position: absolute;
      background-color: #FFE066CC;
      box-shadow: -10px 10px 20px black;
      height: 100px;
      width: 200px;
      font-size: 25px;
      z-index: 10;
      display: none;
    }
    .GDP-menu {
        position: fixed;
        top: 20%;
        left: 5%;
        height: 300px;
        width: 200px;
      p {
        top: 0;
        left: -2%;
        width: 220px;
        font-size: 30px;
        font-weight: 900;
        color: yellow;
      }
      .USA {
        position: absolute;
        top: 30%;
        left: 10%;
        img {
          height: 70px;
          width: 140px;
        }
      }
      .BaH {
        position: absolute;
        top: 70%;
        left: 10%;
        width: 100%;
        img {
          height: 70px;
          width: 140px;
        }
      }
    }
    svg {
      background-image: url('./images/bg-graph.jpg');
      height: 100%;
      width: 100%;
      z-index: -1;
    }
    .title {
      position: absolute;
      top: 5%;
      left: 8%;
      font-size: 4em;
    }
  }
}
.axes {
  fill: #680916;
  color: #680916;
  font-size: 20px;
}
rect {
  pointer-events: all;
}

