* {
  margin: 0;
  padding: 0;
  border: 0;
}
html {
  background-image: url('./images/bg.jpg');
  background-repeat: no-repeat;
  height: 100%;
  background-size: cover;
}
body {
  .App {
    height: 72vh;
    width: 78vw;
    position: absolute;
    top: 15%;
    left: 15%;
    margin: auto;
    .tooltip {
      position: absolute;
      background-color: #FFE066CC;
      box-shadow: -10px 10px 20px black;
      height: auto;
      width: 15vw;
      font-size: 3vmin;
      z-index: 10;
      display: none;
    }
    .GDP-menu {
        position: fixed;
        top: 20%;
        left: 2%;
        height: 30vh;
        width: 15vw;
      p {
        top: 0;
        font-size: 3vmin;
        font-weight: 900;
        color: yellow;
      }
      .USA {
        position: absolute;
        top: 30%;
        width: 100%;
        img {
          height: 7vh;
          width: 7.5vw;
        }
      }
      .BaH {
        position: absolute;
        top: 70%;
        width: 100%;
        img {
          height: 7vh;
          width: 7.5vw;
        }
      }
    }
    svg {
      background-image: url('./images/bg-graph.jpg');
      background-size: cover;
      height: 100%;
      width: 100%;
      z-index: -1;
    }
    .title {
      position: absolute;
      top: 4%;
      left: 14%;
      font-size: 5.5vmin;
    }
  }
}
.axes {
  fill: #680916;
  color: #680916;
  font-size: 2vmin;
}
rect {
  pointer-events: all;
}

